* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.business__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 130%;
  text-align: center;
  color: #1B2534;
}

.business__title span {
  color: #29A0F5;
}

@media (min-width: 570px) {
  .business__title {
    font-size: 80px;
  }
}

.perfect__title, .capture__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 120%;
  color: #1B2534;
}

.perfect__title span, .capture__title span {
  color: #29A0F5;
}

.tools__title, .support__title, .watchandlearn__title, .media__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  color: #1B2534;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1340px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__row {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (min-width: 570px) {
  .header__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
  }
}

@media (min-width: 616px) {
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 40px;
  }
}

.header__logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: block;
  width: 184px;
  height: 60px;
}

.header__nav {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (min-width: 625px) {
  .header__nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header__nav .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 960px) {
  .header__nav .menu__list {
    height: 60px;
    gap: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1120px) {
  .header__nav .menu__list {
    gap: 60px;
  }
}

.header__link {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 212px;
  height: 60px;
  background-color: #1B2534;
  border-radius: 17px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.header__link:hover {
  background-color: #FFFFFF;
  border: 5px solid #0082F3;
  color: #0082F3;
}

@media (min-width: 625px) {
  .header__link {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.menu__list .menu__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 111%;
  color: #1B2534;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu__list .menu__link:hover {
  color: #0082F3;
}

.business {
  position: relative;
  max-height: 1086px;
}

.business__row {
  padding: 370px 0px 20px 0px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

@media (min-width: 768px) {
  .business__row {
    padding: 200px 0px 520px 0px;
  }
}

@media (min-width: 960px) {
  .business__row {
    padding: 150px 0px 520px 0px;
  }
}

.business__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.business__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.business__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 232px;
  height: 72px;
  border-radius: 20px;
  background: #FFFFFF;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.4px;
  color: #1B2534;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.business__button::after {
  content: '';
  margin-left: 20px;
  width: 30px;
  height: 19px;
  background: no-repeat url("../img/main/Business/button__arrow.svg");
}

.business__button:hover {
  border: 5px solid #0082F3;
  color: #0082F3;
}

.app-demo {
  display: none;
}

@media (min-width: 768px) {
  .app-demo {
    display: block;
  }
}

.app-demo__image {
  margin-top: -440px;
  position: relative;
  padding: 0px 0px 58% 0px;
}

.app-demo__image img {
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.perfect__row {
  padding: 60px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media (min-width: 1250px) {
  .perfect__row {
    padding: 160px 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}

.perfect__content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media (min-width: 768px) {
  .perfect__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 1250px) {
  .perfect__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.perfect__title {
  text-align: center;
}

@media (min-width: 1100px) {
  .perfect__title {
    text-align: start;
  }
}

.perfect__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #1B2534;
  text-align: center;
}

@media (min-width: 1100px) {
  .perfect__text {
    text-align: start;
  }
}

.perfect__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.perfect__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.perfect__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 1250px) {
  .perfect__image {
    max-width: 645px;
    max-height: 558px;
  }
  .perfect__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 768px) {
  .perfect__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.item-perfect__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 140%;
  color: #1B2534;
}

.item-perfect__text {
  font-family: Open Sans;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #606060;
}

.capture {
  background: #F6F6F6;
}

.capture__row {
  padding: 40px 5px 40px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

@media (min-width: 769px) {
  .capture__row {
    padding: 160px 5px 40px 5px;
  }
}

@media (min-width: 1190px) {
  .capture__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.capture__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
}

.capture__title {
  text-align: center;
}

@media (min-width: 1190px) {
  .capture__title {
    text-align: start;
  }
}

.capture__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #1B2534;
  text-align: center;
}

@media (min-width: 1190px) {
  .capture__text {
    text-align: start;
  }
}

.capture__frame {
  border-radius: 15px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.capture__frame .frame__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1190px) {
  .capture__frame {
    margin: 2%;
    padding: 0px 0px 58% 0px;
  }
}

@media (min-width: 1190px) {
  .capture__frame {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}

.frame__content {
  padding: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 20%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

@media (min-width: 426px) {
  .frame__content {
    padding: 20px;
    right: 30%;
    gap: 20px;
  }
}

.frame__icon {
  background: #283343;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 74px;
  height: 74px;
}

.frame__icon img {
  width: 44px;
  height: 44px;
}

.frame__title {
  width: 165px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.importanttools {
  background: #F6F6F6;
  padding: 0px 5px;
}

.importanttools__top {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
}

@media (min-width: 1234px) {
  .importanttools__top {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.importanttools__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tools__row {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  background: #FFFFFF;
}

@media (min-width: 528px) {
  .tools__row {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (min-width: 1234px) {
  .tools__row {
    gap: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

.tools__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .tools__icons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.support__row {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding: 20px 20px 0px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  background: #FFFFFF;
}

.support__row img {
  max-width: 100%;
}

@media (min-width: 646px) {
  .support__row {
    padding: 40px 40px 0px 40px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 1234px) {
  .support__row {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.monitor__row {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  background: #FFFFFF;
}

@media (min-width: 528px) {
  .monitor__row {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

@media (min-width: 1234px) {
  .monitor__row {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.watchandlearn__row {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
  background: #1B2534;
  border-radius: 20px;
}

.watchandlearn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.watchandlearn__title {
  text-align: end;
  color: #FFFFFF;
}

.watchandlearn__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 234px;
  height: 72px;
  background: #29A0F5;
  border: 1px solid #29A0F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.watchandlearn__button::after {
  content: '';
  margin-left: 20px;
  width: 37px;
  height: 19px;
  background: no-repeat url("../img/main/Importanttools/watch/arrow_icon.svg");
}

.media__row {
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  background: #FFFFFF;
}

.media__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
